<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3 class="footer-title">Newsletter</h3>
                <p>Stay update with our latest</p>
                <input type="email" placeholder="E-mail"><span><i class="fas fa-chevron-right"></i></span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 instagram">
                <h3 class="footer-title">Instagram</h3>
                <div class="d-flex">
                    <img src="assets/image/instagram/insta1.jpg" class="img-fluid" alt="insta-01">
                    <img src="assets/image/instagram/insta6.jpg" class="img-fluid" alt="insta-02">
                    
                </div>
                <div class="d-flex">
                    <img src="assets/image/instagram/insta4.jpg" class="img-fluid" alt="insta-04">
                   
                    <img src="assets/image/instagram/insta5.jpg" class="img-fluid" alt="insta-06">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3 class="footer-title">Follow us</h3>
                <p>Lets be social</p>
                <div class="socials">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="move-up" (click)="scrollToTop()">
           <i class="fas fa-arrow-circle-up fa-3x"></i>
        </div>
    </div>
</footer>   