

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="blog-container">
                <div class="blog-image">
                    
                    <img src="assets/image/mt-ulap-750.jpg" class="img-fluid" alt="">
                </div>
                <div class="blog-post-details">
                    <h3>Mt. Ulap</h3>
                    <h4>Desciption <span>June 12, 2019</span></h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, error voluptatem. Eius ab, totam dolor quidem exercitationem tempore perspiciatis recusandae, veritatis voluptate hic perferendis dignissimos. Temporibus minus vel fugiat debitis?</p>
                </div>
            </div>
            <div class="comment-container">
                <h4>Your Comment</h4>
                <form>
                    <input type="text" class="form-control mb-3" placeholder="Your name">
                    <input type="email" class="form-control mb-3" placeholder="Your E-mail">
                    <textarea class="form-control mb-3" cols="30" rows="10" placeholder="Your Comment"></textarea>
                    <button class="btn btn-primary">Post Comment</button>
                </form>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="sign-up-container bg-primary">
                <h4>Sign up to get more details</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <form>
                    <input type="text" class="form-control mb-3" placeholder="Your name">
                    <input type="email" class="form-control mb-3" placeholder="Your E-mail">
                    <input type="tel" class="form-control mb-3" placeholder="Your Phone Number">
                    <button class="btn btn-warning btn-block">Register Online Now</button>
                </form>
            </div>
        </div>
    </div>
</div>