
<section id="blog-post-site">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="blog-container">
                    <div class="blog-image">
                        <img src="assets/image/mt-ulap-750.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="blog-post-details">
                        <h3>Mt. Ulap</h3>
                        <h4>Desciption <span>June 12, 2019</span></h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, error voluptatem. Eius ab, totam dolor quidem exercitationem tempore perspiciatis recusandae, veritatis voluptate hic perferendis dignissimos. Temporibus minus vel fugiat debitis?</p>
                        
                    </div>
                    <div class="blog-btn">
                        <button class="btn-like primary-button button" routerLink="/blog/1">READ MORE <i class="fas fa-arrow-right"></i></button>
                        
                    </div>
                </div>

                <div class="blog-container">
                    <div class="blog-image">
                        <img src="assets/image/mt-maculot-750.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="blog-post-details">
                        <h3>Mt. Maculot</h3>
                        <h4>Desciption <span>March 22, 2019</span></h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, error voluptatem. Eius ab, totam dolor quidem exercitationem tempore perspiciatis recusandae, veritatis voluptate hic perferendis dignissimos. Temporibus minus vel fugiat debitis?</p>
                    </div>
                    <div class="blog-btn">
                        <button class="btn-like primary-button button" routerLink='/blog/2'>READ MORE <i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>

                <div class="blog-container">
                    <div class="blog-image">
                        <img src="assets/image/mt-picodeloro-750.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="blog-post-details">
                        <h3>Mt. Pico de loro</h3>
                        <h4>Desciption <span>April 14, 2013</span></h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, error voluptatem. Eius ab, totam dolor quidem exercitationem tempore perspiciatis recusandae, veritatis voluptate hic perferendis dignissimos. Temporibus minus vel fugiat debitis?</p>
                    </div>
                    <div class="blog-btn">
                        <button class="btn-like primary-button button" routerLink="/blog/3">READ MORE <i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>


            </div>

            <div class="col lg-4 col-md-4">
                <div class="latest-post-container">
                    <h3>Latest Posts</h3>
                    <ul>
                        <li><a href="#">Hike to Mt. Ulap Itogon, Benguet</a></li>
                        <li><a href="#">Hike to Mt. Maculot Cuenca, Batangas</a> </li>
                        <li><a href="#">Hike to Mt. Pico De Loro Nasugbo, Batangas</a></li>
                    </ul>
                </div>
                <div class="subscribe">
                    <h3>Newsletter</h3>
                    <form>
                        <input type="email" class="form-control" placeholder="E-mail">
                        <button class="button secondary-button btn btn-block mt-3">Subscribe</button>
                    </form>
                </div>
                <div class="gallery-container">
                    <h3>Gallery</h3>
                    <div class="gallery-image">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 p-0">
                                    <img src="assets/image/gallery/g5.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 p-0">
                                    <img src="assets/image/gallery/g1.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 p-0">
                                    <img src="assets/image/gallery/g2.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 p-0">
                                    <img src="assets/image/gallery/g3.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 p-0">
                                    <img src="assets/image/gallery/g4.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 p-0">
                                    <img src="assets/image/gallery/g6.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-tags">
                    <h3>Popular Tags</h3>
                    <div class="tag-list">
                        <button class="btn btn-tag">Software</button>
                        <button class="btn btn-tag">Technology</button>
                        <button class="btn btn-tag">Travel</button>
                        <button class="btn btn-tag">Illustration</button>
                        <button class="btn btn-tag">Desgin</button>
                        <button class="btn btn-tag">Life Style</button>
                        <button class="btn btn-tag">Love</button>
                        <button class="btn btn-tag">Project</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>