

<section id="feature-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="feature-container">
                    <div class="feature-image">
                        <img src="https://source.unsplash.com/random/750x500" class="img-fluid" alt="">
                    </div>
                    <div class="feature-content">
                        <h3 class="feature-title">Feature Title</h3>
                        <p class="feature-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quod molestiae earum ex commodi. Reprehenderit odit atque, adipisci expedita culpa cum repellendus quidem, exercitationem, sint fuga quisquam nisi eveniet modi?</p>
                        <div class="feature-btn">
                            <button>READ MORE 
                                <i class="fas fa-chevron-right "></i>
                                <i class="fas fa-chevron-right "></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="feature-container">
                    <div class="feature-image">
                        <img src="https://source.unsplash.com/random/750x500" class="img-fluid" alt="">
                    </div>
                    <div class="feature-content">
                        <h3 class="feature-title">Feature Title</h3>
                        <p class="feature-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quod molestiae earum ex commodi. Reprehenderit odit atque, adipisci expedita culpa cum repellendus quidem, exercitationem, sint fuga quisquam nisi eveniet modi?</p>
                        <div class="feature-btn">
                            <button>READ MORE 
                                <i class="fas fa-chevron-right "></i>
                                <i class="fas fa-chevron-right "></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="feature-container">
                    <div class="feature-image">
                        <img src="https://source.unsplash.com/random/750x500" class="img-fluid" alt="">
                    </div>
                    <div class="feature-content">
                        <h3 class="feature-title">Feature Title</h3>
                        <p class="feature-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quod molestiae earum ex commodi. Reprehenderit odit atque, adipisci expedita culpa cum repellendus quidem, exercitationem, sint fuga quisquam nisi eveniet modi?</p>
                        <div class="feature-btn">
                            <button>READ MORE 
                                <i class="fas fa-chevron-right "></i>
                                <i class="fas fa-chevron-right "></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>