
.about-container,
.register-container{
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.about-details{
    border-top: 1px solid black;
}
.register-container h4,p{
    color: white;
}
.register-container p{
    font-size: 14px;
}
img{
    width: 100%;
}