<img src="assets/image/background-1200x400.jpg" class="img-fluid" alt="">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="about-container">
                <h4>About Title</h4>
                <div class="about-details">
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, illo!</h1>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, at.</h2>
                    <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, repellendus.</h3>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, dicta.</h4>
                    <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, ducimus.</h5>
                    <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, dolorem.</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus maiores quisquam, corrupti eligendi debitis sunt adipisci provident, veritatis asperiores dolore hic voluptates. Facilis ex nesciunt optio saepe tenetur molestiae necessitatibus.</p>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="register-container bg-primary">
                <h4>Sign up to get more details</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <form>
                    <input type="text" class="form-control mb-3" placeholder="Your name">
                    <input type="email" class="form-control mb-3" placeholder="Your E-mail">
                    <input type="tel" class="form-control mb-3" placeholder="Your Phone Number">
                    <button class="btn btn-warning btn-block">Register Online Now</button>
                </form>
            </div>
        </div>
    </div>
</div>
